.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}

.input{
    border: none;
    font-size: 1rem;
    font-family: 'montserrat', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    width: 100%;
}