.card{
    border: 2px solid var(--font);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}