.main{
    width: 100%;
    height: 100%;
    background-color: #fff
}
.listaDePratos{
    background-color: red;
}
.img{
    width: 100px;
    height: 100px;
}

.item{
    background-color: bisque;
    display: flex;
    width: 700px;
    height: 100%;
    margin-bottom: 10px;
}