.card{
    width: 70%;
    height: 30vh;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}