.baner{
   min-height: 30vh;
   width: 90%;
   margin: 3rem auto;
   padding: 1rem;
   border-radius: 30px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   border: 1px solid black;
   display: flex;
}

.baner__link{
    width: 200px;
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    background-color: rgb(0, 187, 255);
}