.baner{
   min-height: 50vh;
   width: 90%;
   margin: 3rem auto;
   padding: 1rem;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   border: 1px solid black;
   display: flex;
   box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
   url('https://img.freepik.com/fotos-gratis/asas-de-frango-de-churrasco-em-molho-agridoce-piquenique-menu-de-verao-comida-saborosa-vista-do-topo-configuracao-plana_2829-6471.jpg?w=1060&t=st=1704707353~exp=1704707953~hmac=f21eb66082fea00416753889a1e1c6bd74d3791b0522388479239e4eef26ffe1');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center right;
}

.baner__title{
    color: var(--bg);
    font-size: 6rem;
}

.baner__title__span{
    color: var(--color1);
    font-weight: bold;
}

.baner__link{
    min-width: 100px;
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    background-color: var(--color1);
    color: var(--bg);
    text-decoration: none;
    align-self: center;
}

.baner__buttons{
    align-self: center;
}

.baner__buttons__button{
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: 1px solid var(--color1);
    margin: 0 1rem;
    color: var(--color1);
    cursor: pointer;
}